{% extends 'common/base.html' %}
{% load staticfiles %}
{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'common/css/dashboard.css' %}">

{% endblock %}
{% block content %}
	{{Quadrigacx_data }}
	{{Quoinex_data}}
	{{Kraken_data}}
	{{Bitfinex_data}}
	{{Quadrigacx_transactions}}
	{{Quoinex_transactions}}
	{{Kraken_transactions}}
	{{Bitfinex_transactions}}

<div class="page-banner" style="padding:40px 0;">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Dashboard</h2>
				<p>Hello {{ user.first_name }}</p>
			</div>
		</div>
	</div>
</div>
<div class="container">
<div class="row">
<div class="col-md-2">
	<h4 class="classic-title"><span>MENU</span></h4>
	<ul>
		<li><a href="{% url 'profile' id=user.id %}">Your Profile</a></li>
	</ul>
</div>
    <div class = "col-md-10" >

    <h4 class="classic-title"><span>CAPITAL GAINS IN SPECIFIED TRADING PLATFORMS</span></h4>
	<a href="#" class="nav-tabs-dropdown btn btn-block btn-default">Call Tabs</a>
	<ul class="nav nav-tabs nav-justified nav-tabs-horizontal " role="tablist" id="nav-tabs-wrapper">
		<li role="presentation" class="active"><a href="#cashintra" aria-controls="cashintra" role="tab" data-toggle="tab">Quadrigacx</a></li>
		<li role="presentation"><a href="#cashpositional" aria-controls="cashpositional" role="tab" data-toggle="tab">Kraken</a></li>
		<li role="presentation"><a href="#stockfuture" aria-controls="stcokfuture" role="tab" data-toggle="tab">Bitfinex</a></li>
		<li role="presentation"><a href="#niftyfuture" aria-controls="niftyfuture" role="tab" data-toggle="tab">Quoine</a></li>
		<li role="presentation"><a href="#optioncallscovered" aria-controls="optioncallscovered" role="tab" data-toggle="tab">Reports and Export</a></li>

	</ul>

	<div class="tab-content">

		<div role="tabpanel" class="tab-pane active" id="cashintra">
{{Quadrigacx_products}}

			</br></br>

		</div>

		<div role="tabpanel" class="tab-pane" id="cashpositional">
			{% if not Quadrigacx_products %}
			<div style = "text-align: center;">
				<h1 class="unsubscribed">You are not subscribed to this feature</h1><br>
				<h2>To subscribe to Quadrigacx <a target= "_blank" href="{% url 'addplatformapi' %}">click here</a></h2>

			</div>
			{% endif %}
			</br></br>
		</div>

		<div role="tabpanel" class="tab-pane" id="stockfuture">
			{% if Quinine_products%}
			{{Quinine_products}}
			{% endif %}
			</br></br>
		</div>

		<div role="tabpanel" class="tab-pane" id="niftyfuture">

		</div>

		<div role="tabpanel" class="tab-pane" id="optioncallscovered">

			</div>
</div>
</div>
</div>
</div>

<!--Mobile Tabs Dropdown Menu Script-->
<script>

$('.nav-tabs-dropdown').each(function(i, elm) {

    $(elm).text($(elm).next('ul').find('li.active a').text());

});

$('.nav-tabs-dropdown').on('click', function(e) {

    e.preventDefault();

    $(e.target).toggleClass('open').next('ul').slideToggle();

});

$('#nav-tabs-wrapper a[data-toggle="tab"]').on('click', function(e) {

    e.preventDefault();

    $(e.target).closest('ul').hide().prev('a').removeClass('open').text($(this).text());

});

</script>

<!--End of mobile tab dropdown script-->

{% endblock %}
